{% extends 'common/wrap.twig' %}

{% block title %}{{ post.topic }}{% endblock %}

{% block content %}
    <a href="/posts">Back to all posts</a>
    <h1>{{ post.topic }}</h1>
    <p>{{ post.text }}</p>

    {% if not empty(post.parentPost) %}
        <p>In reply to:</p>
        <blockquote style="opacity: .5">
            <h2><a href="/posts/{{ post.parentPost.id }}">{{ post.parentPost.topic }}</a></h2>
            <p>{{ post.parentPost.text }}</p>
        </blockquote>
    {% endif %}

    <p><small>{{ format('%1$tH:%1$tM:%1$tS %1$td.%1$tm.%1$tY', post.postedAt) }}</small></p>
    <p><small>{{ post.likes }} people liked</small></p>
    <p><a href="/posts/{{ post.id }}/like">Like!</a></p>

    <h2>Answers</h2>
    <ul>
    {% for answer in post.answers %}
        <li>
            {% include 'partials/post_in_list.twig' with {post: answer} only %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}